name: Simple Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  simple:
    runs-on: ubuntu-latest
    steps:
      - name: Echo test
        run: echo "Hello from GitHub Actions"
